{% load static %}
<div class="col-lg-4">
    <div class="axil-sidebar">
        <div class="widget widget-search">
            <h4 class="widget-title">Qidirish</h4>
            <form action="{% url 'post_list' %}" class="blog-search" method="get">
                <input placeholder="Maqola qidirish…" name="qidirish" type="text">
                <button class="search-button"><i class='bx bx-search-alt-2'
                                                 style="font-size: 20px;"></i></button>
            </form>
        </div>
        <div class="widget widget-categories">
            <h4 class="widget-title">Bo'limlar</h4>
            <ul class="category-list list-unstyled">
                {% for cat in sidebar_cats %}
                    <li><a href="blog-category.html">{{ cat }}({{ cat.post_set.all.count }})</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="widget widge-social-share">
            <div class="blog-share">
                <h5 class="title">Obuna bo'ling:</h5>
                <ul class="social-list list-unstyled">
                    <li><a href="https://facebook.com/"><i class="fab fa-github"></i></a></li>
                    <li><a href="https://www.instagram.com/"><i class="fab fa-telegram"></i></a>
                    </li>
                    <li><a href="https://www.linkedin.com/"><i class="fab fa-instagram"></i></a>
                    </li>
                    <li><a href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="widget widget-recent-post">
            <h4 class="widget-title">So'ngi maqolalar</h4>
            <div class="post-list-wrap">
                {% for post in sidebar_posts %}
                    <div class="single-post">
                        <div class="post-thumbnail">
                            <a href="{{ post.get_absolute_url }}"><img src="{{ post.thumbnail.url }}" width="150px"
                                                            alt="Blog"></a>
                        </div>
                        <div class="post-content">
                            <h6 class="title"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h6>
                            <ul class="blog-meta list-unstyled">
                                <li>{{ post.created|date:"M d, Y" }}</li>
                                <li><i class='bx bx-like'></i> {{ post.number_of_likes }}</li>
                                <li><i class='bx bx-comment'></i> {{ post.comments.all.count }}</li>
                            </ul>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>