{% extends 'base/base.html' %}
{% load static %}
{% block content %}
    <!--=====================================-->
    <!--=           404 Area Start          =-->
    <!--=====================================-->
    <section class="error-page onepage-screen-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="content" data-sal="slide-up" data-sal-duration="800" data-sal-delay="400">
                        <h2 class="title">Sahifa topilmadi</h2>
                        <p>Hmm adashib qolgan ko'rinasiz yoki link ni yaxshilab tekshirib ko'ring.</p>
                        <a href="{% url 'home' %}" class="axil-btn btn-fill-primary">Bosh sahifa</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="thumbnail" data-sal="zoom-in" data-sal-duration="800" data-sal-delay="400">
                        <img src="{% static 'media/others/404.png' %}" alt="404">
                    </div>
                </div>
            </div>
        </div>
        <ul class="shape-group-8 list-unstyled">
            <li class="shape shape-1" data-sal="slide-right" data-sal-duration="500" data-sal-delay="100">
                <img src="{% static 'media/others/bubble-9.png' %}" alt="Bubble">
            </li>
            <li class="shape shape-2" data-sal="slide-left" data-sal-duration="500" data-sal-delay="200">
                <img src="{% static 'media/others/bubble-27.png' %}" alt="Bubble">
            </li>
            <li class="shape shape-3" data-sal="slide-up" data-sal-duration="500" data-sal-delay="300">
                <img src="{% static 'media/others/line-4.png' %}" alt="Line">
            </li>
        </ul>
    </section>
{% endblock %}
