{% extends 'base/base.html' %}
{% load static %}
{% block content %}

    <div class="breadcrum-area">
        <div class="container">
            <div class="breadcrumb">
                <ul class="list-unstyled">
                    <li><a href="{% url 'home' %}">Bosh sahifa</a></li>
                    <li class="active">Aloqa</li>
                </ul>
                <h1 class="title h2">Aloqa</h1>
            </div>
        </div>
        <ul class="shape-group-8 list-unstyled">
            <li class="shape shape-1" data-sal="slide-right" data-sal-duration="500" data-sal-delay="100">
                <img src="{% static 'media/others/bubble-9.png' %}" alt="Bubble">
            </li>
            <li class="shape shape-2" data-sal="slide-left" data-sal-duration="500" data-sal-delay="200">
                <img src="{% static 'media/others/bubble-17.png' %}" alt="Bubble">
            </li>
            <li class="shape shape-3" data-sal="slide-up" data-sal-duration="500" data-sal-delay="300">
                <img src="{% static 'media/others/line-4.png' %}" alt="Line">
            </li>
        </ul>
    </div>
    <!--=====================================-->
    <!--=       Contact  Area Start        =-->
    <!--=====================================-->
    <section class="section section-padding">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-lg-6">
                    <div class="contact-form-box shadow-box mb--30">
                        <h3 class="title">Hoziroq murojat qiling</h3>
                        <form method="post" action="{% url 'contact' %}" class="axil-contact-form">{% csrf_token %}
                            <div class="form-group">
                                <label>Ism</label>
                                <input type="text" id="id_name" class="form-control" name="name" placeholder="Aziz">
                            </div>
                            <div class="form-group">
                                <label>Email</label>
                                <input type="email" id="id_email" class="form-control" name="email"
                                       placeholder="aziz@gmail.com">
                            </div>
                            <div class="form-group mb--40">
                                <label>Murojatiningiz</label>
                                <textarea name="message" id="id_message" class="form-control textarea"
                                          cols="30" rows="4" placeholder="murojat"></textarea>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="axil-btn btn-fill-primary btn-fluid btn-primary">Yuborish
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-6 offset-xl-1">
                    <div class="contact-info mb--100 mb_md--30 mt_md--0 mt--150">
                        <h4 class="title">Telefon</h4>
                        <p>Xohlagan paytiz murojat qiling</p>
                        <h4 class="phone-number"><a href="tel:1234567890">93-999-9999</a></h4>
                    </div>
                    <div class="contact-info mb--30">
                        <h4 class="title">Email</h4>
                        <p>Bizning email manzil.</p>
                        <h4 class="phone-number"><a href="mailto:info@example.com">admin@linuxiston.uz</a></h4>
                    </div>
                </div>
            </div>
        </div>
        <ul class="list-unstyled shape-group-12">
            <li class="shape shape-1"><img src="{% static 'media/others/bubble-2.png' %}" alt="Bubble"></li>
            <li class="shape shape-2"><img src="{% static 'media/others/bubble-1.png' %}" alt="Bubble"></li>
            <li class="shape shape-3"><img src="{% static 'media/others/circle-3.png' %}" alt="Circle"></li>
        </ul>
    </section>
    <!--=====================================-->
    <!--=        Footer Area Start       	=-->
    <!--=====================================-->
{% endblock %}
